*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background:linear-gradient(45deg,cyan,rgb(66, 151, 242),lightgreen);
}
body h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2rem;
    color:rgb(73, 2, 73);
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:1rem;
    /* min-height: 50vh; */
    max-width: 70%;
    border-radius: 20px;
    background-color: rgb(111, 208, 232);
}
.inputs{
    display:flex;
    justify-content: center;
    align-items:center;
    
}
input{
    padding:10px;
    border-radius: 5px;
    max-width:80%;
    overflow: hidden;
}
input[type="image"]{
    border-radius: 50%;
    width:10vh;
    height:10vh;
}
.tempDiv{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tempDiv img{
    width:30%;
    height:30%;
    margin:10px 0;
}

.additional-info{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.additional-info h4{
    margin:10px 15px;
    font-size: 20px;
}
.container .details{
    align-items:center;
    display:flex;
    flex-direction: column;
}

#cityname{
    margin:1rem 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

#desc{
    font-size:1rem;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    font-style:italic;
    margin:8px 0;
}
